.production-detils {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


@media only screen and (max-width:576px) {
    .production-detils {
        grid-template-columns: repeat(1, 1fr);


    }

    .add-item {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .production-detils {
        grid-template-columns: repeat(2, 1fr);
    }
}